<%- include('partials/header') %>

<main>
  <section class="cadastro-edicao">
    <div class="container">
      <% if (servico) { %>
        <h1>Editar de serviço</h1>
      <% } else { %>
        <h1>Cadastro de serviços</h1>
      <% } %>

      <% if (servico) { %>
        <form action="/servicos/editar/<%= servico.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
      <% } else { %>
        <form action="/servicos/cadastrar" method="POST" enctype="multipart/form-data">
      <% } %>
        <div class="align-row form-control">
          <div class="field">
            <label for="nome">Nome do serviço</label>
            <input type="text" id="nome" name="nome" value="<% if (servico) { %><%= servico.nome %><% } %>">
          </div>

          <div class="field">
            <label for="valor">Preço</label>
            <input type="text" id="valor" name="valor" value="<% if (servico) { %><%= servico.valor %><% } %>">
          </div>
        </div>
  
        <label for="descricao">Descrição</label>
        <textarea id="descricao" name="descricao"><% if (servico) { %><%= servico.descricao %><% } %></textarea>

        <label for="servico-img">Imagem do serviço</label>
        <input type="file" name="servico-img" id="servico-img">

        <button class="btn btn-primary" type="submit">Enviar</button>
      </form>
    </div>
  </section>
</main>

<%- include('partials/footer') %> 