<%- include('partials/header') %>

<main>
  <h1>Cursos</h1>

  <% cursos.forEach(curso => { %>
    <div class="row">
      <span>
        <h4><%= curso.nome %></h4>
        <b>Area: </b><%= curso.area.tipo %>
        <h5>Turmas</h5>

        <table class="turmas">
          <thead>
            <tr>
              <th>Ano</th>
              <th>Semestre</th>
              <th>Professor</th>
            </tr>
          </thead>
          <tbody>
            <% curso.turmas.forEach(turma => { %>
            <tr>
              <td><%= turma.ano_inicio %></td>
              <td><%= turma.semestre %></td>
              <td><%= turma.professor.nome %> <%= turma.professor.sobrenome %> </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </span>

      <div class="actions">
        <a href="/cursos/editar/<%= curso.id %>">Editar</a>
        <form action="/cursos/deletar/<%= curso.id %>" method="post">
          <button type="submit" class="danger">Deletar</a>
        </form>
      </div>
    </div>
  <% }) %>
</main>

<%- include('partials/footer') %>